* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: Helvetica, sans-serif;
  letter-spacing: -1px;
  color: whitesmoke;
  background-color: #212112;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.button {
  width: 344px;
  height: 64px;
  padding: 20px;
  background-color: #F8FF23;
  box-sizing: border-box;
  color: black;
  outline: 0;
  text-decoration: none;
  display: block;
  border: 0;
  cursor: pointer;
  font-size: 24px;
}

.button:hover {
  background-color: #c9ce33;
}

.main {
  overflow: hidden;
  position: relative;
}

.black-block {
  position: absolute;
  width: 477px;
  height: 910px;
  top: 0;
  background-color: black;
  z-index: -2;
  right: calc(50% - 780px);
}

.header {
  padding: 46px 0;
}

.header .container {
  display: flex;
  align-items: center;
}

.logo img {
  max-width: 129px;
  vertical-align: bottom;
}

.navmenu {
  margin-left: 177px;
  margin-right: auto;
}

.navmenu ul {
  list-style: none;
  display: flex;
  gap: 65px;
}

.navmenu ul a {
  font-size: 14px;
  color: whitesmoke;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  text-transform: uppercase;
}

.navmenu ul a:hover {
  color: #F8FF23;
}

.phone {
  font-size: 14px;
  color: whitesmoke;
  font-weight: bold;
  letter-spacing: 0;
}

.main-content {
 padding-top: 100px;
 padding-bottom: 175px;
}
.main-content .container { 
  position: relative;
}

.main-info {
  max-width: 755px;
}

.main-info h1 {
  font-size: 80px;
  line-height: 100%;
  color: whitesmoke;
  margin-bottom: 40px;
  font-weight: normal;
}

.main-info p {
  font-size: 24px;
  line-height: 120%;
  color: #d4d4d4;
  max-width: 448px;
  margin-bottom: 60px;
}

.main-image {
  position: absolute;
  top: 78px;
  right: -576px;
  z-index: -1;
}